.button{
    -fx-background-color:  #808080;
}
.button:hover{
    -fx-background-color: #778899;
}
.button:cell-selection{
    -fx-background-color: #778899;
}
.button:checked{
    -fx-background-color: #778899;
}
.button:selected {
    -fx-background-color: #778899;
}
.button:pressed{
    -fx-background-color: #778899;
}
